<a href="https://colab.research.google.com/github/LeeJaeEun0/st1220/blob/main/221220_ch04_ML_04_NaiceBayes_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 네이버 - 영화리뷰 감성 분석하기
* 긍정, 부정과 관련된 분석

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# https://github.com/e9t/nsmc/
# https://github.com/e9t/nsmc/blob/master/README.md
file_url = 'https://raw.githubusercontent.com/e9t/nsmc/master/ratings.txt'
df = pd.read_csv(file_url, sep='\t', index_col=0)
df.head() # 20만개

                                                   document  label
id
8112052                                 어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
8132799   디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
4655635                폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
9251303   와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1

In [6]:
df.tail()

                                    document  label
id
8963373                       포켓 몬스터 짜가 ㅡㅡ;;      0
3302770                                쓰.레.기      0
5458175    완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
6908648  왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
8548411                      포풍저그가나가신다영차영차영차      0

In [5]:
df.info() # 결측치 - 8개

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 8112052 to 8548411
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   document  199992 non-null  object
 1   label     200000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 4.6+ MB

In [7]:
df2 = df.dropna() # 결측치를 모두 삭제해주는 기능
df2

                                                   document  label
id
8112052                                 어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
8132799   디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
4655635                폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
9251303   와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
...                                                     ...    ...
8963373                                      포켓 몬스터 짜가 ㅡㅡ;;      0
3302770                                               쓰.레.기      0
5458175                   완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
6908648                 왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
8548411                                     포풍저그가나가신다영차영차영차      0

[199992 rows x 2 columns]

In [9]:
# 너무 큰 데이터 - 위에서 1000개, 아래에서 1000개
# 같은 모양의 df를 연결할때 pd.concat
df3 = pd.concat([
    df2.head(1000), # 행단위 -> default(axis = 0),

    df2.tail(1000)
])
df3

                                                   document  label
id
8112052                                 어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
8132799   디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
4655635                폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
9251303   와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
...                                                     ...    ...
8963373                                      포켓 몬스터 짜가 ㅡㅡ;;      0
3302770                                               쓰.레.기      0
5458175                   완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
6908648                 왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
8548411                                     포풍저그가나가신다영차영차영차      0

[2000 rows x 2 columns]

## 전처리

In [10]:
df3.document.iloc[0] # 한글 데이터 전처리시 문제가 있음
# 어릴 때 보고 지금 다시 봐도 재밌어요ㅋㅋ
# 어리다 -> 어릴, 재미+나다 => 구성이 복잡함
# 한글 자연어 분석 -> 형태소(언어의 최소 의미단위)로 분석해야함
# 형태소 분석기

'어릴때보고 지금다시봐도 재밌어요ㅋㅋ'

In [11]:
!pip install konlpy --quiet
# https://konlpy.org/ko/latest/index.html
# 문장을 원하는 품사로 잘라줌

     |████████████████████████████████| 19.4 MB 623 kB/s
     |████████████████████████████████| 465 kB 50.3 MB/s

In [12]:
from konlpy.tag import Okt

In [13]:
okt = Okt()

In [15]:
sample_text = df3.document.iloc[0]
sample_text

'어릴때보고 지금다시봐도 재밌어요ㅋㅋ'

In [16]:
okt.nouns(sample_text) # 명사만 추출

['때', '보고', '지금', '다시']

In [19]:
df3['document'] # 명사로 분리되기 전

id
8112052                                   어릴때보고 지금다시봐도 재밌어요ㅋㅋ
8132799     디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...
4655635                  폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.
9251303     와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...
10067386                          안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.
                                  ...
8963373                                        포켓 몬스터 짜가 ㅡㅡ;;
3302770                                                 쓰.레.기
5458175                     완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.
6908648                   왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ
8548411                                       포풍저그가나가신다영차영차영차
Name: document, Length: 2000, dtype: object

In [20]:
df3['nouns'] = df3.document.apply(okt.nouns)
df3['nouns'] # 단어들 위주로 분류

id
8112052                                       [때, 보고, 지금, 다시]
8132799     [디자인, 학생, 외국, 디자이너, 그, 일군, 전통, 통해, 발전, 문화, 산업,...
4655635                          [폴리스스토리, 시리즈, 부터, 뉴, 하나, 최고]
9251303                           [연기, 진짜, 개, 생각, 몰입, 진짜, 영화]
10067386                                   [안개, 밤하늘, 초승달, 영화]
                                  ...
8963373                                             [포켓, 몬스터]
3302770                                                [레, 기]
5458175              [완전, 사이코, 영화, 마지막, 더욱더, 이, 영화, 질, 트, 린다]
6908648                                    [왜, 라따뚜이, 스머프, 런가]
8548411                                   [포, 저그, 영차, 영차, 영차]
Name: nouns, Length: 2000, dtype: object

In [24]:
df3['nouns'] = df3.document.apply(okt.nouns).apply(
    # nouns : okt.nouns로 분석된 명사들 리스트
    lambda nouns: [n for n in nouns if len(n) >= 2] # len(텍스트) => 텍스트의 길이
    # 텍스트가 2이상인 n만 남김 -> 2글자 이상의 글자만 남음
) # 2글자 미만의 명사들은 모두 제외
df3['nouns']

id
8112052                                          [보고, 지금, 다시]
8132799     [디자인, 학생, 외국, 디자이너, 일군, 전통, 통해, 발전, 문화, 산업, 사실...
4655635                             [폴리스스토리, 시리즈, 부터, 하나, 최고]
9251303                              [연기, 진짜, 생각, 몰입, 진짜, 영화]
10067386                                   [안개, 밤하늘, 초승달, 영화]
                                  ...
8963373                                             [포켓, 몬스터]
3302770                                                    []
5458175                       [완전, 사이코, 영화, 마지막, 더욱더, 영화, 린다]
6908648                                       [라따뚜이, 스머프, 런가]
8548411                                      [저그, 영차, 영차, 영차]
Name: nouns, Length: 2000, dtype: object

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
cv.fit_transform(df3.nouns) #리스트가 아니라 문자열로 넣어줘야함

TypeError: ignored

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x = cv.fit_transform(df3.nouns.apply(" ".join)) #리스트가 아니라 문자열로 넣어줘야함
print(x)

  (0, 1206)	1
  (0, 2670)	1
  (0, 551)	1
  (1, 722)	1
  (1, 3120)	1
  (1, 2059)	1
  (1, 721)	1
  (1, 2309)	1
  (1, 2479)	2
  (1, 2972)	1
  (1, 1119)	1
  (1, 1011)	1
  (1, 1363)	1
  (1, 1345)	1
  (1, 2090)	1
  (1, 1640)	1
  (1, 1964)	1
  (1, 494)	1
  (1, 1333)	1
  (2, 3067)	1
  (2, 1628)	1
  (2, 1266)	1
  (2, 3098)	1
  (2, 2814)	1
  (3, 1945)	1
  :	:
  (1990, 2892)	1
  (1990, 859)	1
  (1990, 629)	1
  (1991, 1977)	1
  (1991, 1957)	1
  (1991, 67)	1
  (1991, 2347)	1
  (1991, 435)	1
  (1992, 2947)	1
  (1993, 1990)	1
  (1994, 102)	1
  (1994, 1202)	1
  (1995, 3057)	1
  (1995, 963)	1
  (1997, 1977)	2
  (1997, 2044)	1
  (1997, 847)	1
  (1997, 1353)	1
  (1997, 625)	1
  (1997, 819)	1
  (1998, 766)	1
  (1998, 1578)	1
  (1998, 746)	1
  (1999, 2447)	1
  (1999, 1976)	3

In [27]:
cv.vocabulary_ # 사전의 구성

{'보고': 1206,
 '지금': 2670,
 '다시': 551,
 '디자인': 722,
 '학생': 3120,
 '외국': 2059,
 '디자이너': 721,
 '일군': 2309,
 '전통': 2479,
 '통해': 2972,
 '발전': 1119,
 '문화': 1011,
 '산업': 1363,
 '사실': 1345,
 '우리나라': 2090,
 '시절': 1640,
 '열정': 1964,
 '노라노': 494,
 '사람': 1333,
 '폴리스스토리': 3067,
 '시리즈': 1628,
 '부터': 1266,
 '하나': 3098,
 '최고': 2814,
 '연기': 1945,
 '진짜': 2711,
 '생각': 1404,
 '몰입': 964,
 '영화': 1977,
 '안개': 1770,
 '밤하늘': 1124,
 '초승달': 2806,
 '사랑': 1336,
 '라면': 747,
 '처음': 2772,
 '완전': 2044,
 '감동': 52,
 '전쟁': 2475,
 '바보': 1067,
 '나이': 430,
 '훗날': 3280,
 '사하나': 1360,
 '감정': 62,
 '이해': 2273,
 '고질': 199,
 '오페라': 2024,
 '작품': 2381,
 '극단': 323,
 '갈림': 42,
 '반전': 1105,
 '평점': 3046,
 '긴장감': 374,
 '스릴': 1574,
 '전장': 2474,
 '공포': 219,
 '고시': 189,
 '소재': 1512,
 '관련': 236,
 '단연': 565,
 '가면': 10,
 '갈수록': 44,
 '더욱': 624,
 '밀회': 1061,
 '화이팅': 3243,
 '수작': 1549,
 '일본': 2315,
 '마음': 840,
 '임팩트': 2342,
 '일품': 2334,
 '제대로': 2541,
 '범죄': 1174,
 '스릴러': 1575,
 '마디': 827,
 '징텅': 2728,
 '교복': 249,
 '이의': 2256,
 '볼펜': 1241,
 '자국': 2350,
 '역시': 1939,
 '미처': 1044,
 '전하': 2485,
 '형태': 3210,
 '마지막': 847,
 '강압': 78,
 '용서': 2082,
 '세뇌': 1476,
 '대한': 615,
 '비판': 1309,
 '중세시대': 2655,
 '명작': 933,
 '영상': 1971,
 '존재': 2588,
 '한번': 3129,
 '제니퍼': 2540,
 '코넬': 2888,
 '아역시절': 1745,
 '로버트': 790,
 '드니': 704,
 '장면': 2403,
 '정말': 2511,
 '가슴속': 16,
 '기억': 365,
 '수가': 1534,
 '인간': 2278,
 '잠재': 2390,
 '악마': 1765,
 '성은': 1460,
 '여러': 1915,
 '시간': 1617,
 '공간': 206,
 '존속': 2587,
 '다큐': 557,
 '그것': 300,
 '재현': 2441,
 '최고다': 2815,
 '삼일': 1374,
 '동안': 683,
 '틈틈이': 2995,
 '잠도': 2389,
 '여운': 1925,
 '실화': 1685,
 '충격': 2845,
 '어디': 1842,
 '일어나서': 2324,
 '각심': 35,
 '그라샴': 313,
 '농아인': 513,
 '이정재': 2259,
 '이범수': 2221,
 '친구': 2857,
 '우정': 2102,
 '매우': 891,
 '굿굿굿': 282,
 '또해': 735,
 '제발': 2547,
 '제이크': 2552,
 '질렌할': 2717,
 '대체': 610,
 '입가': 2343,
 '미소': 1037,
 '샤방샤방했던': 1415,
 '원표': 2133,
 '조연': 2571,
 '이양': 2246,
 '마치': 849,
 '바다': 1064,
 '아쿠아리움': 1762,
 '느낌': 533,
 '자녀': 2354,
 '강추': 81,
 '정의': 2529,
 '콜트': 2902,
 '콜텍': 2901,
 '노동자': 493,
 '이야기': 2245,
 '화보': 3241,
 '브라질': 1288,
 '남자': 457,
 '내내': 468,
 '여배우': 1920,
 '도법': 652,
 '멤버': 921,
 '모두': 943,
 '기대': 350,
 '액션': 1829,
 '런가': 766,
 '흥미진진': 3294,
 '워낙': 2119,
 '격투씬': 151,
 '그냥': 303,
 '스마트': 1577,
 '티비': 2996,
 '인지도': 2302,
 '암살': 1811,
 '하여튼': 3110,
 '인정': 2298,
 '파르': 3001,
 '북한': 1267,
 '목숨': 961,
 '대한민국': 616,
 '그거': 299,
 '납득': 460,
 '나불': 425,
 '거려': 112,
 '종북': 2600,
 '박평': 1086,
 '그대': 307,
 '시작': 1638,
 '얼굴': 1873,
 '주인공': 2627,
 '매력': 888,
 '이구': 2204,
 '용이': 2083,
 '요즘': 2072,
 '아이돌': 1750,
 '배우': 1153,
 '해먹': 3162,
 '정도': 2509,
 '정말재밋': 2513,
 '봣는대': 1246,
 '탱고': 2953,
 '음악': 2186,
 '평생': 3042,
 '후회': 3276,
 '드라마': 705,
 '미도': 1031,
 '캐릭터': 2868,
 '여러가지': 1916,
 '결말': 156,
 '이제': 2261,
 '재미': 2425,
 '순위': 1561,
 '신동엽': 1655,
 '순간': 1556,
 '캐치': 2872,
 '감탄': 64,
 '이영자': 2247,
 '대박': 599,
 '이동욱': 2212,
 '인생': 2290,
 '전작': 2473,
 '쓰레기': 1718,
 '한국영': 3125,
 '별로': 1201,
 '다소': 549,
 '당시': 585,
 '눈물': 523,
 '사발': 1342,
 '신부': 1658,
 '로서': 794,
 '명감': 926,
 '실천': 1682,
 '제리': 2543,
 '자신': 2366,
 '부정': 1263,
 '로키': 797,
 '원주율': 2132,
 '메이커': 915,
 '추석': 2835,
 '특선영화': 2991,
 '가족': 24,
 '끼리': 416,
 '보기': 1208,
 '우리': 2089,
 '애기': 1819,
 '선택': 1437,
 '괜찬': 245,
 '조합': 2582,
 '바로': 1066,
 '대의': 607,
 '어머니': 1849,
 '원작': 2127,
 '드래곤볼': 708,
 '에볼루션': 1892,
 '만듬': 862,
 '예능': 1992,
 '방학': 1138,
 '아침': 1761,
 '채널': 2766,
 '엔트랩먼트': 1903,
 '권력': 287,
 '의리': 2193,
 '역사': 1937,
 '초롱': 2801,
 '팬심': 3020,
 '내용': 475,
 '배경음악': 1142,
 '달달': 570,
 '중간': 2645,
 '본방': 1232,
 '사수': 1344,
 '스토리': 1597,
 '요새': 2068,
 '수백향': 1547,
 '제목': 2545,
 '화질': 3247,
 '가을로': 21,
 '가을': 20,
 '때문': 730,
 '이건': 2201,
 '벌써': 1172,
 '퀄리티': 2906,
 '일단': 2310,
 '까지봣다': 402,
 '장국영': 2394,
 '자살': 2362,
 '극적': 327,
 '뀰잼': 414,
 '예전': 1999,
 '양심': 1837,
 '냉장고': 479,
 '움찔': 2112,
 '한가지': 3121,
 '부탁': 1265,
 '연기자': 1948,
 '보호': 1226,
 '폭력': 3060,
 '걱정': 124,
 '성추행': 1467,
 '상가': 1377,
 '모든': 945,
 '목격': 958,
 '증언': 2665,
 '덕분': 627,
 '청소년': 2787,
 '계속': 172,
 '경찰서': 169,
 '멋있쪙': 905,
 '재밋었다': 2433,
 '세기': 1475,
 '비디오': 1301,
 '남기남': 450,
 '감독': 49,
 '이름': 2215,
 '성룡': 1456,
 '형님': 3205,
 '마이': 841,
 '우상': 2093,
 '당신': 586,
 '장르': 2401,
 '이영화': 2248,
 '리타': 814,
 '자꾸': 2353,
 '죄책감': 2609,
 '도잠': 658,
 '커서': 2875,
 '웃음': 2116,
 '정치': 2533,
 '묘사': 974,
 '표현': 3072,
 '흥행': 3296,
 '안나': 1773,
 '절대': 2488,
 '디테': 725,
 '일만': 2314,
 '봉임': 1244,
 '한마디': 3128,
 '달기': 569,
 '수록': 1544,
 '살이': 1367,
 '엇냐': 1882,
 '성격': 1449,
 '만점': 867,
 '다음': 553,
 '초반': 2802,
 '설정': 1447,
 '점차': 2505,
 '판타지': 3011,
 '미래': 1033,
 '현실': 3199,
 '언론': 1871,
 '탄압': 2941,
 '은유': 2181,
 '오카다': 2020,
 '예상': 1994,
 '의외': 2199,
 '인도영화': 2285,
 '무엇': 996,
 '다그': 545,
 '허정무': 3183,
 '대신': 605,
 '장외룡': 2414,
 '한국': 3123,
 '고고싱': 174,
 '어찌': 1863,
 '보조개': 1222,
 '메이': 913,
 '최고봉': 2816,
 '초딩': 2800,
 '봣음': 1250,
 '비포미드나잇': 1311,
 '심정': 1694,
 '또한': 734,
 '한편': 3145,
 '모습': 953,
 '절로': 2490,
 '뭔가': 1019,
 '스케': 1584,
 '라디오': 745,
 '임진강': 2340,
 '한석규': 3131,
 '쵝오': 2828,
 '허니': 3179,
 '꿀잼': 412,
 '개꿀잼': 88,
 '한예슬': 3134,
 '원래': 2122,
 '헤어': 3192,
 '메이크업': 916,
 '훈남': 3277,
 '쉐프': 1565,
 '보구': 1207,
 '요리': 2067,
 '시나리오': 1620,
 '비고': 1296,
 '잼잼꿀잼': 2444,
 '잼핵잼잼잼': 2445,
 '개인': 103,
 '언제': 1872,
 '팬텀': 3021,
 '크리스틴': 2910,
 '일이': 2326,
 '전혀': 2486,
 '처럼': 2770,
 '남편': 459,
 '아쉬움': 1739,
 '알파': 1809,
 '치노': 2850,
 '명화': 937,
 '뮤지컬': 1021,
 '역대': 1936,
 '대부': 600,
 '바람': 1065,
 '레벨': 768,
 '명의': 932,
 '마잭': 845,
 '마돈나': 826,
 '엘비스급': 1906,
 '노래실력': 496,
 '바비': 1068,
 '바스코': 1069,
 '이번': 2220,
 '결과': 154,
 '대해': 617,
 '불만': 1281,
 '어쩌면': 1860,
 '거지': 121,
 '어쩌': 1858,
 '자격': 2349,
 '코미디': 2891,
 '사극': 1329,
 '장혁': 2420,
 '명품': 935,
 '이서': 2234,
 '마련': 828,
 '사마': 1338,
 '그날': 302,
 '저녁': 2449,
 '기분': 360,
 '옛날': 2001,
 '워낭소리': 2120,
 '더빙': 623,
 '자막': 2358,
 '연말': 1952,
 '추천': 2839,
 '사회': 1361,
 '치부': 2854,
 '예언': 1997,
 '엣날': 1910,
 '제일': 2553,
 '슈퍼': 1570,
 '울트라': 2110,
 '노막': 500,
 '중동': 2652,
 '참여': 2758,
 '얼마나': 1875,
 '아버지': 1735,
 '이자': 2257,
 '무사': 991,
 '일생': 2323,
 '의미': 2195,
 '죽음': 2636,
 '일지': 2330,
 '신념': 1653,
 '진일': 2709,
 '물결': 1014,
 '쵝오임': 2829,
 '다만': 547,
 '엔딩': 1899,
 '배심원': 1151,
 '상대로': 1381,
 '일장': 2327,
 '연설': 1955,
 '작위': 2378,
 '신파': 1669,
 '무죄': 1001,
 '애정': 1826,
 '멜로': 920,
 '최영장군': 2824,
 '이민호': 2218,
 '안치환': 1797,
 '방향': 1140,
 '노래': 495,
 '걸작': 130,
 '안보': 1784,
 '고도': 177,
 '오스트레일리아': 2011,
 '조금': 2559,
 '프랑스': 3080,
 '심장': 1693,
 '쫄깃하': 2739,
 '메이드': 914,
 '범죄물': 1175,
 '류승범': 801,
 '황정민': 3259,
 '기쁨': 361,
 '등장인물': 717,
 '절제': 2496,
 '소설가': 1506,
 '무척': 1003,
 '엄마': 1877,
 '운전': 2108,
 '맥거핀': 893,
 '아이맥스': 1753,
 '개봉': 97,
 '거임': 119,
 '완죤': 2046,
 '스타': 1589,
 '정부': 2517,
 '국민': 273,
 '의지': 2200,
 '퀘벡': 2907,
 '호킹': 3218,
 '능욕': 540,
 '보통': 1224,
 '전쟁영화': 2476,
 '특유': 2992,
 '연출': 1961,
 '이정현': 2260,
 '전형': 2487,
 '사이코': 1353,
 '우릴': 2091,
 '욕망': 2076,
 '명대사': 928,
 '똥칠': 738,
 '된거': 692,
 '점도': 2499,
 '블레이드러너': 1293,
 '버금': 1166,
 '결코': 160,
 '정일우': 2530,
 '상투': 1394,
 '존경': 2583,
 '반지': 1107,
 '제왕': 2550,
 '피터': 3091,
 '잭슨': 2442,
 '감독판': 50,
 '추억': 2837,
 '녹화': 507,
 '리메이크': 807,
 '무협': 1006,
 '보너스': 1209,
 '시내': 1622,
 '보신': 1216,
 '추강': 2831,
 '아이': 1749,
 '만화영화': 875,
 '액션영화': 1831,
 '서도': 1417,
 '귀수': 292,
 '아군': 1720,
 '첫사랑': 2784,
 '설레임': 1440,
 '그대로': 308,
 '관람': 235,
 '향수': 3177,
 '김민선': 387,
 '김규리': 382,
 '여신': 1922,
 '미모': 1035,
 '힐링': 3305,
 '무비': 990,
 '자리': 2356,
 '연속': 1957,
 '질리': 2718,
 '외계인': 2058,
 '신분': 1659,
 '라이언': 750,
 '애니': 1820,
 '코드': 2889,
 '반영': 1100,
 '짜임새': 2730,
 '러브': 761,
 '모드': 944,
 '여주': 1931,
 '어요': 1851,
 '하나요': 3102,
 '시간여행': 1618,
 '트릴': 2984,
 '방송': 1132,
 '털털': 2956,
 '실제': 1680,
 '시기': 1619,
 '나중': 433,
 '입문': 2345,
 '가연': 17,
 '물감': 1012,
 '애가': 1817,
 '주제': 2631,
 '배급사': 1144,
 '싸이코패스': 1707,
 '안인숙': 1792,
 '이편': 2271,
 '조각': 2558,
 '재밋': 2426,
 '용도': 2081,
 '케미': 2880,
 '이예': 2249,
 '여유': 1926,
 '일요일': 2325,
 '오후': 2028,
 '동화': 690,
 '세계': 1473,
 '스타워즈': 1591,
 '쌍탑': 1710,
 '일견': 2308,
 '알콜중독': 1808,
 '의문': 2194,
 '겉보기': 135,
 '안정': 1794,
 '그녀': 304,
 '외로움': 2061,
 '아픔': 1763,
 '로써': 795,
 '이유': 2253,
 '내생': 473,
 '가장': 22,
 '여명': 1919,
 '눈동자': 522,
 '허준': 3184,
 '모래시계': 946,
 '황금의제국': 3257,
 '규모': 296,
 '사업가': 1346,
 '집안': 2724,
 '갈등': 41,
 '서로': 1418,
 '원수': 2124,
 '필름': 3094,
 '무당': 980,
 '방이': 1136,
 '들개': 711,
 '해외': 3166,
 '수니': 1539,
 '웁니': 2113,
 '가원': 19,
 '웃기': 2114,
 '해지': 3167,
 '소녀시대': 1492,
 '윤아': 2175,
 '잘못': 2387,
 '박한별': 1087,
 '송지효': 1532,
 '조안': 2569,
 '싸이코': 1706,
 '역할': 1941,
 '나름': 422,
 '몸매': 966,
 '부분': 1259,
 '주연': 2624,
 '목소리': 960,
 '간직': 40,
 '사람과': 1334,
 '리가': 802,
 '폭풍': 3064,
 '집중': 2726,
 '도리': 647,
 '글쎄': 335,
 '알라': 1801,
 '미움': 1042,
 '가르침': 9,
 '모슬렘': 952,
 '신고': 1651,
 '애국': 1818,
 '미국': 1025,
 '시민': 1629,
 '말로': 877,
 '교회': 251,
 '반성': 1099,
 '기독교인': 353,
 '래야': 758,
 '나마': 423,
 '행운': 3174,
 '엔딩크레딧': 1901,
 '발견': 1110,
 '목록': 959,
 '배경': 1141,
 '휴식': 3286,
 '난리': 441,
 '람보': 755,
 '터미네이터': 2954,
 '맥클레인': 894,
 '얘기': 1840,
 '재밋다': 2431,
 '혼자': 3225,
 '올해': 2036,
 '짱짱': 2734,
 '눈빛': 524,
 '생동감': 1405,
 '몸짓': 968,
 '발짓': 1120,
 '거의': 118,
 '강아지': 77,
 '토토': 2963,
 '흐름': 3288,
 '희망': 3297,
 '슬픔': 1614,
 '비극': 1298,
 '동전': 688,
 '양면': 1836,
 '어릴떄': 1848,
 '아빠': 1736,
 '매일': 892,
 '지오': 2689,
 '자연': 2367,
 '압도': 1812,
 '댄스': 619,
 '롤라': 798,
 '새해': 1399,
 '아따맘마': 1726,
 '리지': 813,
 '차태현': 2751,
 '박중훈': 1085,
 '아즈': 1759,
 '환상': 3251,
 '헤메': 3191,
 '막시무스': 857,
 '빈민촌': 1315,
 '실상': 1677,
 '리얼': 810,
 '영화로': 1981,
 '미화': 1050,
 '생명': 1408,
 '그름': 318,
 '나라': 419,
 '스스로': 1579,
 '정해': 2536,
 '그게': 301,
 '앞뒤': 1816,
 '가까이': 1,
 '오만': 2006,
 '편견': 3031,
 '위트': 2145,
 '영화매니아': 1982,
 '지침': 2693,
 '다른': 546,
 '미드': 1032,
 '재방송': 2435,
 '캐스팅': 2871,
 '한효주': 3146,
 '문채원': 1010,
 '방금': 1127,
 '중학교': 2658,
 '담임': 576,
 '선생님': 1435,
 '이후': 2276,
 '가끔': 2,
 '백영규': 1158,
 '재난': 2422,
 '극치': 329,
 '돋넼': 668,
 '대부분': 601,
 '완성': 2042,
 '코믹': 2892,
 '요소': 2069,
 '아치': 1760,
 '애환': 1828,
 '조음': 2573,
 '동물': 675,
 '재밋는': 2429,
 '박유천': 1081,
 '한지민': 3141,
 '미가': 1024,
 '폭포': 3063,
 '탈출': 2942,
 '이전': 2258,
 '사상': 1343,
 '무렵': 983,
 '최진희': 2825,
 '로랑': 783,
 '건가': 125,
 '누가': 517,
 '중국영화': 2648,
 '로맨스': 786,
 '공존': 214,
 '번은': 1171,
 '감히': 66,
 '프레이져': 3083,
 '주걸륜': 2612,
 '머이쪙': 900,
 '박력': 1073,
 '스턴': 1596,
 '평작': 3045,
 '하정우': 3115,
 '개그': 86,
 '단발': 563,
 '의사': 2196,
 '적당': 2456,
 '밋게봣': 1062,
 '봣던': 1248,
 '사관': 1328,
 '키스신': 2920,
 '예수님': 1995,
 '계기': 171,
 '모던': 941,
 '시네마': 1623,
 '주의': 2625,
 '로맨틱': 787,
 '조우': 2572,
 '키아로스타미': 2921,
 '이중': 2265,
 '운동': 2106,
 '믿음': 1058,
 '가슴': 15,
 '정태우': 2534,
 '감사용': 55,
 '패전': 3017,
 '처리': 2771,
 '투수': 2975,
 '전문': 2466,
 '패가': 3014,
 '이기': 2207,
 '무승부': 993,
 '등판': 718,
 '본인': 1234,
 '상대': 1380,
 '방어율': 1135,
 '전체': 2478,
 '옴니버스': 2037,
 '진행': 2715,
 '색감': 1400,
 '상상력': 1384,
 '킬림': 2923,
 '임용': 2339,
 '낫다': 461,
 '연애': 1958,
 '여자': 1928,
 '관점': 239,
 '표정': 3070,
 '대사': 602,
 '콘서트': 2899,
 '현장': 3202,
 '전달': 2463,
 '명동역': 929,
 '젊은이': 2497,
 '헌신': 3186,
 '전범': 2468,
 '체코': 2792,
 '운명': 2107,
 '해리슨': 3161,
 '포드': 3050,
 '홍콩영화': 3235,
 '화가': 3236,
 '몽환': 972,
 '갑자기': 67,
 '다해': 558,
 '경의': 166,
 '우울함': 2099,
 '만큼': 870,
 '실감': 1671,
 '연민': 1953,
 '벤자민': 1189,
 '검색': 132,
 '종로': 2597,
 '장거리': 2393,
 '세트': 1485,
 '장만': 2402,
 '요크셔': 2074,
 '테리어': 2958,
 '소형견': 1515,
 '상태': 1393,
 '요키': 2075,
 '견주': 153,
 '전적': 2477,
 '잔인': 2384,
 '나안': 428,
 '도시': 653,
 '세상': 1480,
 '세심': 1481,
 '완벽주의자': 2041,
 '피에르': 3090,
 '주네': 2616,
 '이윤기': 2254,
 '한장': 3136,
 '면도': 922,
 '빵빵': 1320,
 '지고': 2668,
 '재밋는데': 2430,
 '적꿈': 2455,
 '일리': 2313,
 '므흣': 1023,
 '메각하킬': 908,
 '스타스크림': 1590,
 '활약': 3253,
 '이참': 2266,
 '트포': 2987,
 '오토봇': 2023,
 '로봇': 791,
 '대장': 609,
 '제외': 2551,
 '기술': 364,
 '여친': 1933,
 '주말': 2618,
 '가요': 18,
 '흐흐': 3290,
 '게이고': 141,
 '플롯': 3087,
 '전개': 2458,
 '화면': 3240,
 '구성': 259,
 '예술': 1996,
 '판도': 3008,
 '뉴문': 528,
 '신도': 1654,
 '벨라': 1190,
 '트와일라잇': 2986,
 '이클립스': 2268,
 '커플': 2877,
 '털보': 2955,
 '뒷모습': 700,
 '레이드': 774,
 '맨몸': 895,
 '결정': 159,
 '체다': 2789,
 '편도': 3032,
 '소름': 1498,
 '올드보이': 2034,
 '합작': 3155,
 '진품': 2714,
 '예나': 1991,
 '노릇': 498,
 '아들': 1725,
 '뮤직비디오': 1022,
 '동양인': 685,
 '하자': 3114,
 '자체': 2372,
 '디스': 719,
 '통한': 2971,
 '유지': 2164,
 '남녀': 451,
 '유태인': 2167,
 '레즈비언': 778,
 '오타쿠': 2021,
 '등등': 715,
 '목적': 962,
 '소설': 1505,
 '강간범': 69,
 '새끼': 1397,
 '강간': 68,
 '정신': 2523,
 '난도질': 440,
 '드래곤길들이기': 707,
 '감명': 53,
 '봣어': 1249,
 '싱하형': 1702,
 '변호인': 1198,
 '법정': 1176,
 '분통': 1274,
 '지경': 2667,
 '있냠': 2348,
 '삼류': 1371,
 '타이틀': 2932,
 '덱스터': 636,
 '데스몬드': 633,
 '리즈시절': 812,
 '인형': 2306,
 '색히': 1403,
 '영화음악': 1984,
 '라인': 751,
 '난캉이': 446,
 '필리핀': 3095,
 '서클': 1427,
 '배웅': 1155,
 '그때': 311,
 '풍경': 3075,
 '과거': 222,
 '회상': 3261,
 '요코': 2073,
 '고양이': 190,
 '재난영화': 2423,
 '아주': 1757,
 '흥미': 3293,
 '똥개': 736,
 '잼잇엇어': 2443,
 '에피소드': 1895,
 '사이코패스': 1354,
 '초점': 2808,
 '탄도': 2939,
 '크리스마스': 2908,
 '상영': 1388,
 '겨우': 144,
 '연기력': 1946,
 '최상': 2820,
 '몰입도': 965,
 '웅앙아': 2117,
 '신은경': 1663,
 '피아니스트': 3089,
 '보시': 1215,
 '니요': 541,
 '시즌': 1641,
 '다가': 544,
 '어쩌다가': 1859,
 '특징': 2994,
 '거짓말': 122,
 '태고': 2946,
 '살때': 1365,
 '십대영화': 1698,
 '울면': 2109,
 '사육사': 1350,
 ...}

In [28]:
# 학습시켜서 가져오기
from sklearn.model_selection import train_test_split

y = df3.label # 타깃, 종속변수 y
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [29]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(x_train, y_train)
pred = model.predict(x_test)

In [30]:
from sklearn.metrics import accuracy_score, confusion_matrix

accuracy_score(y_test, pred) # 원래 50%인데 개선이 된 것

0.678

## 데이터 처리와 관련된 코랩 데이터
https://colab.research.google.com/drive/1LPvMgmPFOfpWgQsck0t5yCIi97ncrM3f?usp=sharing